.actions svg {
  fill: #ff7f00;
  width: 20px;
  height: 20px;
}

.actions {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  max-height: none;
}

.delete {
  border: none;
  background: none;
  cursor: pointer;
}
