.actions svg {
  fill: #ff7f00;
  width: 20px;
  height: 20px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  min-height: 100%;
}

.delete {
  border: none;
  background: none;
  cursor: pointer;
}
