.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 100;
  min-height: 5rem;
  width: 100%;
}

.nav {
  height: 5rem;
  display: flex;
  align-items: center;
}

.action {
  flex-direction: row;
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

.logo {
  margin-left: 10px;
  width: 70%;
  display: flex;
}

.svg {
  fill: #f08652;
  width: 40px;
  height: 40px;
}

.add {
  margin-right: 20px;
  height: 25px;
  width: 25px;
}

.statsButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 0.4rem;
}
